.font-family{
      font-family: 'Work Sans', sans-serif;
}
#id{
      background-color: #ffc107;
}
#ids{
      background-color: #d2cac7;
     
}

button:disabled {
      background-color: rgb(201, 201, 201); 
      color: #5c5c5c; 
      cursor: not-allowed;
      
}